
<%- include('partials/header') -%>
<main>
  <h1 class="main-heading">Contact</h1>
  <form class="form">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" placeholder="Enter your name" />
    </div>
    <div>
      <label for="name">Content: </label>
      <textarea placeholder="Enter content" rows="5"></textarea>
    </div>
    <input type="submit" class="submit-btn" value="Contact Us!" />
  </form>
</main>

<%- include('partials/footer') -%>