<%- include('partials/header') -%>
<main>
  <h1 class="main-heading">Welcome to Event App!</h1>
  <p>
    This app is designed to fulfill all your event organization needs. Creating,
    Publishing and Editing events have never been easier. We have high user
    engagement through our Remarks features which allows users to freely express
    themselves about the events they have attended, along with options to boost
    the events and categories they love!
  </p>
  <p>
    Take a look at all our current <a href="/events" class="link">Events</a> or
    browser through our <a href="/categories" class="link">Event Categories</a>.
  </p>
</main>

<%- include('partials/footer') -%>

