<footer class="footer flex">
    <p>Copyright @ 2021</p>
    <nav class="socials">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://in.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://in.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
    </nav>
</footer>

</body>
</html>